<h1>Search</h1>
<p>From the amazing SWAPI</p>

<h3>Films</h3>
<% @films.each do |f| %>
  <p><%= link_to f["title"], movie_path(f["url"][/\d+/]) %></p>
<% end %>

<h3>Characters</h3>
<% @characters.each do |c| %>
  <p><%= link_to c["name"], character_path(c["url"][/\d+/]) %></p>
<% end %>

<h3>Planets</h3>
<% @planets.each do |p| %>
  <p><%= link_to p["name"], planet_path(p["url"][/\d+/]) %></p>
<% end %>

<h3>Starships</h3>
<% @starships.each do |s| %>
  <p><%= link_to s["name"], starship_path(s["url"][/\d+/]) %></p>
<% end %>
